.about {
  background-color: #fcfaef;
  margin-bottom: 120px;

  &__photos {
    display: block;
    justify-content: center;

    height: 200px;

    background-image: url(/src/images/background.png);
    background-position: center;
    background-size: cover;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__content {
    @include page-grid;

    padding-block: 120px;
    row-gap: 24px;
  }

  &__content__title {
    margin: 0;

    @include on-tablet {
      grid-column: 1 / span 6;
    }

    @include on-desktop {
      grid-column: 1 / span 6;
    }
  }

  &__content__description {
    margin: 0;

    @include on-tablet {
      grid-column: 7 / span 6;
      max-width: 460px;
    }

    @include on-desktop {
      grid-column: 7 / span 5;
      max-width: 460px;
    }
  }
}
